<div class="flex flex-col">
    <%= turbo_stream_from "progress_channel" %>
    <h1>Tela de status</h1>
    
    
    <div id="progress_channel_container">
        <%= render partial: "shared/progress_channel", locals: { processed: @processed, remaining: @remaining, 
        successful_registrations: @successful_registrations, errors: @errors } %>
    </div>
</div>