<p class="text-center mt-2">Linhas Processados: <%= processed %></p>
<p class="text-center mt-2">Linhas Restantes: <%= remaining %></p>
<p class="text-center mt-2">Registrados com Sucesso: <%= successful_registrations %></p>
<p class="text-center mt-2">Linhas com Erro: <%= errors %></p>