<div class="flex flex-col">
<h1 class="mb-10">Upload de Script</h1>

    <%= form_with url: process_data_path do |f| %>
        <%= f.label :upload, "Upload a file", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= f.file_field :upload, class: 'block bg-gray-300 p-4' %>

        <%= f.submit 'Enviar', class: 'block mt-4 bg-gray-300 px-5 py-3'%>
    <% end %>
</div>