<div>
    <h1 class="text-3xl font-bold block"><%= t('.job')%></h1>

    <div class="my-10 flex flex-col">
        <% if @job_postings.any? %>
            <% @job_postings.each do |job| %>
                <%= link_to job.title, job_posting_path(job), class: 'text-blue-600 underline my-4' %>
            <% end %>
        <% else %>
            <p><%= t('.dont_have_any_job')%></p>
        <% end %>
    </div>

    <%= paginate @job_postings %>
</div>

